<!--<app-header></app-header>
<app-album-example></app-album-example>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <app-card *ngFor="let item of cards">
      </app-card>
    </div>
  </div>
</div>
<app-tema></app-tema>
<app-footer></app-footer> -->


<!--
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> 
-->

<!--chat-->
<div class="wrapper">
  <app-header></app-header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
