html, body {
    height: 100%;
    margin: 0;
  }
  
  /* Contenedor principal */
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa al menos toda la altura de la ventana */
  }
  
  /* Contenido: se expande para ocupar el espacio restante */
  .content {
    flex: 1;
  }