<div class="container">
  <h2 class="title text-center mb-4">Películas Populares</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let movie of movies">
      <div class="card h-100">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" class="card-img-top" alt="{{ movie.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.overview | slice:0:100 }}...</p>
        </div>
        <div class="card-footer text-center">
          <!-- Agregar RouterLink para redirigir a la página de detalles -->
          <a [routerLink]="['/movie', movie.id]" class="btn btn-primary">Ver Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>